body{
    background-color:antiquewhite;
}

p{
    color:blueviolet;
    font-family: fantasy;
    font-size: 20px;  
}

h1{
    color:blueviolet;
    font-family: fantasy;
    text-align: center;
}

div{
    background-color:brown;
}
